{{> head-html }}

<body>
<div id="wrapper">
<!-- Navigation -->
{{> navigation }}

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Namespace <small>{{namespace}}</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> {{namespace}}
                        </li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

{{> js }}

</body>

</html>