<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="/app"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li class="active">
            <a href="/SB-Admin"><i class="fa fa-fw fa-dashboard"></i> Inspiration</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> {{drop-ns}} <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                {{#namespaces}}
                    <li>
                        <a href="/app/ns/{{.}}">{{.}}</a>
                    </li>
                {{/namespaces}}
            </ul>
        </li>
    </ul>
</div>